:root {
    --primary-color : #DFA005;
    --secondary-color : #05102E;
    --secondary-lighter-color: #0e225a;
    --secondary-border-color: #0e225a;
    --egg-shell-white : #FEFEFE;
    --grey: #f7f7f7;
    --error: #B00020;
    --success: #4BB543;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding-top: 10em;
}

.container {
    margin: 0 auto;
    max-width: 1500px;
    width: 95%;
}

header, 
footer {
    font-family: 'Mohave', sans-serif;
}
main, 
input, 
textarea, 
label, 
h3 {
    font-family: 'Raleway', sans-serif;
}

header {
    background-color: var(--secondary-color);
    color: var(--egg-shell-white);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
.header-left {
    display:flex;
}
.search {
    flex: 1 0 fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    transition: font-size 0.2s ease-in-out;
}
.search input {
    font-size: 1em;
    padding: 0.2em;
    font-family: 'Raleway', sans-serif;
}
.search i:hover, 
#links i:hover {
    opacity: 0.75;
    cursor: pointer;
}
.logo {
    margin: 1em 0;
    margin-right: 2em;
    display: flex;
    justify-content: center;
}
.logo img{
    width: 125px;
    transition: width 0.2s ease-in-out;
}
.header-divider {
    flex: 0 0 100%;
    background-color: var(--egg-shell-white);
    height: 2px;
}
nav {
    width: 100%;
    flex: 1 1 100%;
    transition: flex 0.2s ease-in-out;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}
nav a {
    text-decoration: none;
    text-align: center;
    font-size: 1.2em;
    transition: font-size 0.2s ease-in-out;
    padding: 1em 0 ;
    flex: 1 1 20%;
    color: var(--white);
    border-right: var(--secondary-border-color) 1px dashed; 
    border-left: var(--secondary-border-color) 1px dashed;
}
nav a:last-child, 
nav a:last-child:hover {
    border-right: none;
}

nav a:hover {
    background-color: var(--secondary-lighter-color);
    border-right: white 1px solid;
    border-left: white 1px solid;
}

.header-shrink .logo img {
    width: 70px;
}
.header-shrink nav {
    flex: 1 1 60%;
}
.header-shrink nav a, 
.header-shrink .search {
    font-size: 1em;
}

main {
    font-weight: 400;
    padding: 2em 0;
}
h1 {
    margin-top: 0;
    text-align: center;
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}
.main-divider {
    margin: 1em auto;
    width: 90%;
    height: 2px;
    background-color: var(--grey);
}
footer {
    background-color: var(--grey);
}
.footer {
    padding-bottom: 1em;
    padding-top: 1em;
    color: var(--primary-color);
}
#keypoints {
    display: flex;
    justify-content: space-around;
}
.keypoint {
    padding-top: 1.5em;
    flex: 1 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-right: var(--primary-color) 1px solid; 
    border-left: var(--primary-color) 1px solid;
}
.keypoint i {
    font-size: 3.5em;
}
.keypoint p {
    flex: 1 0 100%;
    margin: 1.5em 0;
    text-align: center;
    font-size: 1.3em;
}
.keypoint:last-child {
    border-right: none;
}
.keypoint:first-child {
    border-left: none;
}
#links {
    font-size: 1.5em;
    text-align: center;
}
.social {
    font-size: 1.75em;
}
.social a {
    color: var(--secondary-color);
    margin: 0 1em;
}

.btn {
    color: var(--egg-shell-white);
    font-size: 1.3em;
    padding: 0.5em;
    border-radius: 5pt;
    border: none;
    font-family: 'Raleway', sans-serif;
}
.btn:hover {
    cursor: pointer;
    opacity: 0.75;
}
