h1, h2 {
    color: var(--secondary-color);
}

.msg {
    margin-bottom: 1em;
    padding: 1em;
    font-size: 1.2em;
    width: fit-content;
    border-radius: 5pt;
    color: var(--egg-shell-white);
    display: flex;
    align-items: center;
    gap: 1em;
}
.msg p {
    margin: 0;
}
.msg i{
    height: fit-content;
    font-size: 1.2em;
}
#error {
    background-color: var(--error);
}
#add-success {
    background-color: var(--success);
}

.top-livres {
    position: relative;
}

.livre {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}
.livre .img-container {
    overflow: hidden;
    width: 150px;
    max-height: 225px;
    display: flex;
    justify-content: center;
}
.livre .img-container img {
    width: 150px;
}
.livre-description {
    flex: 0 1 70%;
}
.livre-title-group {
    display: flex;
    align-items: center;
    gap: 3%;
}
.livre-search-id {
    font-size: 1.2em;
    font-weight: 600;
}

.ajout i:hover,
.msg i:hover {
    cursor: pointer;
    opacity: 0.75;
}
.suppr {
    background-color: brown;
}
#open-new-book {
    background-color: var(--success);
    position: absolute;
    top: 0;
    right: 0;
}

.ajout-background {
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: animate-ajout-bg 0.5s ease-in-out;
}
.show-ajout {
    display: block;
}
.ajout {
    background-color: var(--secondary-color);
    border-radius: 10pt;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    transform: translate(-50%,-50%);
    animation: animate-ajout-content 0.5s ease-in-out;
}
@keyframes animate-ajout-bg {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes animate-ajout-content {
    0% {
        top: -100%;
    }
    100% {
        top: 50%;
    }
}
.ajout h3 {
    font-size: 1.5em;
    text-align: center;
    margin: 0;
    margin-top: 1em;
}
.ajout form {
    padding: 1.5em;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(5, auto);
    gap: 1.5em;
}
.ajout input, 
.ajout label, 
.ajout textarea{
    font-size: 1.5em;
}
.ajout h3, 
.ajout label, 
.ajout input[type="file"] {
    color: var(--primary-color);
}
.ajout input, 
.ajout textarea{
    padding: 0.2em;
    color: var(--secondary-color);
}
.ajout input[type="submit"] {
    grid-column: 2;
}
.ajout input[name="new-book-title"]:invalid,
.ajout input[name="new-book-author"]:invalid {
    outline-color: red;
}
.ajout label {
    display: flex;
    justify-content: end;
    align-items: center;
}
.ajout i {
    position: absolute;
    top: 0.3em;
    right: 0.5em;
    font-size: 2em;
    color: var(--primary-color);
}

@media screen and (max-width:1000px) {
    .livre {
        flex-direction: column;
    }
    .msg {
        margin: 0 auto 1em;
    }
    .livre-title-group {
        flex-direction: column;
        margin-bottom: 2em;
    }
}
@media screen and (max-width:800px) {
    .ajout {
        width: 100%;
    }
    .ajout input, 
    .ajout textarea{
        width: 100%;
    }
}
@media screen and (max-width:650px) {
    #open-new-book {
        position: relative;
        left: 50%;
        transform : translate(-50%, 0);
    }
}