* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    margin: 0 auto;
    max-width: 1500px;

}

header {
    background-color: #05102E;
    color: #FEFEFE;
    font-family: 'Mohave', sans-serif;
}
header a {
    transition: all 0.2s ease-in-out;
}
.header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.logo {
    padding: 1.5em 0;
    width: 100%;
    flex: 1 0 100%;
    display: flex;
    justify-content: center;
}
.logo img{
    width: 300px;
}
.header-divider {
    flex: 0 0 100%;
    background-color: #FEFEFE;
    height: 2px;
}
nav {
    width: 100%;
    flex: 1 0 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}
nav a {
    text-decoration: none;
    text-align: center;
    font-size: 1.3em;
    padding: 1.5em 0 ;
    flex: 1 1 20%;
    color: #FEFEFE;
    border-right: #0e225a 1px dashed; /*#030b20*/
    border-left: #0e225a 1px dashed;
}
nav a:last-child {
    border-right: none;
}
nav a:first-child {
    border-left: none;
}
nav a:last-child:hover {
    border-right: none;
}
nav a:first-child:hover {
    border-left: none;
}
header a:hover {
    background-color: #0e225a;
    border-right: white 1px solid;
    border-left: white 1px solid;
}

main {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

footer {
    background-color: #e0e0e0;
}
.footer {
    font-family: 'Mohave', sans-serif;
    color: #DFA005;
    /* border-top: #0e225a 1px solid; */
}
#keypoints {
    display: flex;
    justify-content: space-around;
}
.keypoint {
    padding-top: 1.5em;
    flex: 1 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-right: #DFA005 1px solid; /*#030b20*/
    border-left: #DFA005 1px solid;
}
.keypoint i {
    font-size: 3.5em;
}
.keypoint p {
    flex: 1 0 100%;
    margin: 1.5em 0;
    text-align: center;
    font-size: 1.3em;
}
.keypoint:last-child {
    border-right: none;
}
.keypoint:first-child {
    border-left: none;
}
#links {
    font-size: 1.5em;
    text-align: center;
}
.social {
    font-size: 1.75em;
}
.social a {
    color: #05102E;
    margin: 0 1em;
}