:root {
    --primary-color : #DFA005;
    --secondary-color : #05102E;
    --secondary-lighter-color: #0e225a;
    --secondary-border-color: #0e225a;
    --egg-shell-white : #FEFEFE;
    --grey: #f7f7f7;
    --error: #B00020;
    --success: #4BB543;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding-top: 10em;
}

.container {
    margin: 0 auto;
    max-width: 1500px;
    width: 95%;
}

header, 
footer {
    font-family: 'Mohave', sans-serif;
}
main, 
input, 
textarea, 
label, 
h3 {
    font-family: 'Raleway', sans-serif;
}

header {
    background-color: var(--secondary-color);
    color: var(--egg-shell-white);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
.header-left {
    display:flex;
}
.search {
    flex: 1 0 fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    transition: font-size 0.2s ease-in-out;
}
.search input {
    font-size: 1em;
    padding: 0.2em;
    font-family: 'Raleway', sans-serif;
}
.search i:hover, 
footer i:hover {
    opacity: 0.75;
    cursor: pointer;
}
.logo {
    margin: 1em 0;
    margin-right: 2em;
    display: flex;
    justify-content: center;
}
.logo img{
    width: 125px;
    transition: width 0.2s ease-in-out;
}
.header-divider {
    flex: 0 0 100%;
    background-color: var(--egg-shell-white);
    height: 2px;
}
nav {
    width: 100%;
    flex: 1 1 100%;
    transition: flex 0.2s ease-in-out;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}
nav a {
    text-decoration: none;
    text-align: center;
    font-size: 1.2em;
    transition: font-size 0.2s ease-in-out;
    padding: 1em 0 ;
    flex: 1 1 20%;
    color: var(--white);
    border-right: var(--secondary-border-color) 1px dashed; 
    border-left: var(--secondary-border-color) 1px dashed;
}
nav a:last-child, 
nav a:last-child:hover {
    border-right: none;
}

nav a:hover {
    background-color: var(--secondary-lighter-color);
    border-right: white 1px solid;
    border-left: white 1px solid;
}

.header-shrink .logo img {
    width: 70px;
}
.header-shrink nav {
    flex: 1 1 60%;
}
.header-shrink nav a, 
.header-shrink .search {
    font-size: 1em;
}

main {
    font-weight: 400;
    padding: 1em 0;
}
h1 {
    margin-top: 0;
    text-align: center;
    color: var(--secondary-color);
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
    color: var(--secondary-color);
}
.main-divider {
    margin: 1em auto;
    width: 90%;
    height: 2px;
    background-color: var(--grey);
}
.divindex {
    text-align: center;
    background-image: url(/img/librairie.jpg);
    background-size: cover;
    padding: 15%;
    padding-top: 5%;
    margin: 0%;
    color: #DFA005;
}
.pindex {
    color: #e0e0e0;
}
.mainpres {
    margin: 7%;
}
.listpres {
    margin-top: 10px;
}
.mainequipe {
    display: flex;
    flex-wrap: wrap;
    margin: 3%;
    justify-content: center;
}
.divequipe {
    width: 30%;
    margin: 10px;
    background-color: #05102E;
    color: #FEFEFE;
    padding: 2%;
}
@media screen and (max-width: 1200px){
    .divequipe {
        width: 60%;
        margin-bottom: 5%;
        margin-top: 5%;
    }
}
.headequipe {
    text-align: center;
    color: #DFA005;
}
.maincontact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 7%;
}
.headcontact {
    text-decoration: underline;
}
.divcontact {
    margin-top: 2%;
}
.divcontactgauche {
    width: 40%;
}
.divcontacdroite {
    width: 60%;
}
@media screen and (max-width: 1200px){
    .divcontactgauche {
        width: 100%;
        margin-bottom: 10%;
    }
}
.buttons {
    text-align: center;
    background-color: #05102E;
    color: #FEFEFE;
    border-radius: 10px;
    padding: 0.5% 2%;
}
footer {
    background-color: var(--grey);
}
.footer {
    padding-bottom: 1em;
    padding-top: 1em;
    color: var(--primary-color);
}
#keypoints {
    display: flex;
    justify-content: space-around;
}
.keypoint {
    padding-top: 1.5em;
    flex: 1 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-right: var(--primary-color) 1px solid; 
    border-left: var(--primary-color) 1px solid;
}
.keypoint i {
    font-size: 3.5em;
}
.keypoint p {
    flex: 1 0 100%;
    margin: 1.5em 0;
    text-align: center;
    font-size: 1.3em;
}
.keypoint:last-child {
    border-right: none;
}
.keypoint:first-child {
    border-left: none;
}
#links {
    font-size: 1.5em;
    text-align: center;
}
.social {
    font-size: 1.75em;
}
.social a {
    color: var(--secondary-color);
    margin: 0 1em;
}